@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Variables */
:root{

   --first-color: hsl(38, 92%, 58%);
   --first-color-light: hsl(38, 100%, 78%);
   --first-color-alt: hsl(32, 75%, 50%);
   --second-color: hsl(195, 75%, 52%);
   --dark-color: hsl(212, 40%, 12%);
   --white-color: hsl(212, 4%, 95%);
   --body-color: hsl(212, 42%, 15%);
   --container-color: hsl(212, 42%, 20%);

   --body-font: 'Poppins', sans-serif;

   --h2-font-size: 1.25rem;
   --normal-font-size: 1rem;
}
